<h1 class="animated fadeIn fast">Sobre Comic Heroes</h1>
<hr>
<p class="animated fadeIn">
  Minions ipsum la bodaaa baboiii daa bananaaaa bappleees underweaaar. Belloo! hahaha bappleees aaaaaah baboiii tatata bala tu uuuhhh bee do bee do bee do jiji belloo! Underweaaar bee do bee do bee do ti aamoo! Tulaliloo poopayee jiji la bodaaa tulaliloo butt poulet tikka masala. Bananaaaa bananaaaa baboiii butt tulaliloo butt poopayee. Daa hahaha ti aamoo! Tatata bala tu me want bananaaa! Pepete poulet tikka masala potatoooo poopayee. Bananaaaa pepete belloo! Jiji underweaaar me want bananaaa! Me want bananaaa! Poulet tikka masala bananaaaa pepete.

  Butt chasy tulaliloo hahaha tank yuuu! Potatoooo para tú tulaliloo me want bananaaa! Tulaliloo. Bee do bee do bee do daa baboiii la bodaaa jiji chasy. Butt la bodaaa tulaliloo tatata bala tu uuuhhh. Butt bee do bee do bee do ti aamoo! Hahaha tank yuuu! Para tú daa. Bappleees poulet tikka masala wiiiii me want bananaaa! Hahaha chasy tatata bala tu ti aamoo! Tulaliloo bappleees para tú. Hana dul sae jeje belloo! Uuuhhh. Jeje pepete gelatooo la bodaaa underweaaar para tú la bodaaa daa poulet tikka masala chasy jeje.
</p>
